@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css');
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background: url(img/bg.jpg) repeat;
}
.cnt-box{
	margin: 0 auto;
	padding-bottom: 150px;
	background: url(img/cnt-bg.jpg) no-repeat center bottom;
}
.com-hd{
	position: relative; 
	height: 70px;
	font: 400 40px/60px '黑体';
	color: #fff;
	text-indent: 0;
	text-align: center;
	background: url(img/bn-5.jpg) no-repeat center center;
	z-index: 9;
}
.com-bd,.com-ft,.layout{
	margin: 0 auto; 
	width: 990px; 
}
.com-bd{
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px; 
}
.com-bd ul{
	position: relative;
	left: 10px;
}
.com-bd li{
	margin: 0 5px 10px 0;
}
.com-ft a,.com-ft img{
	display: block;
}

/*nav*/ 
.right-nav{
	position:fixed;
	padding-top: 75px;
	width: 130px;
	height: auto;
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:430px;
	margin-bottom: 40px;
	bottom:25px; 
	background:url(img/nav-tp.png) no-repeat; 
}	
.right-nav a{  
	height: 38px; 
	font: 400 16px/38px 'Microsoft Yahei';
	color:#d92305;
	text-align: center;
	background:url(img/nav-bg.png) no-repeat; 
} 
.right-nav .go-top{ 
	height: 62px;
	line-height: 62px;
	text-indent: -999999px;
	border:none;  
	background:url(img/nav-bt.png) no-repeat; 
}