/* line 1, ../../../sass/common/nav/shop-nav.scss */
.shop-info-hd {
  font-size: rem(26);
  height: rem(60);
  background: #fff;
}
/* line 5, ../../../sass/common/nav/shop-nav.scss */
.shop-info-hd li {
  width: 50%;
  float: left;
  text-align: center;
}
/* line 10, ../../../sass/common/nav/shop-nav.scss */
.shop-info-hd a {
  color: #333;
  border-bottom: solid #fff rem(3);
  line-height: rem(57);
  padding: 0 rem(10) 0 rem(10);
}
/* line 16, ../../../sass/common/nav/shop-nav.scss */
.shop-info-hd .hover {
  border-bottom: solid #f16320 rem(3);
  color: #f16320;
}

/* line 22, ../../../sass/common/nav/shop-nav.scss */
.hd-third li {
  width: 33.3%;
}
