@import "../../../common/nav/_nav";

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.display-none{
    display: none;
}
.loading{
    text-align: center;
    color: #666;
    font-size: rem(24);
    line-height: rem(40);
}
div{
    text-align: left;
}
.page-view-body{
    padding-bottom: rem(100);
}
.ui-pri{
    @extend .ui-pri;
}