.comment-star{
    color:#ccc;
    &.comment-star-1{
        :nth-child(1){
            color:#fbe11f;
        }
    }
    &.comment-star-2{
        :nth-child(1){
            color:#fbe11f;
        }
        :nth-child(2){
            color:#fbe11f;
        }
    }
    &.comment-star-3{
        :nth-child(1){
            color:#fbe11f;
        }
        :nth-child(2){
            color:#fbe11f;
        }
        :nth-child(3){
            color:#fbe11f;
        }
    }
    &.comment-star-4{
        :nth-child(1){
            color:#fbe11f;
        }
        :nth-child(2){
            color:#fbe11f;
        }
        :nth-child(3){
            color:#fbe11f;
        }
        :nth-child(4){
            color:#fbe11f;
        }
    }
    &.comment-star-5{
        :nth-child(1){
            color:#fbe11f;
        }
        :nth-child(2){
            color:#fbe11f;
        }
        :nth-child(3){
            color:#fbe11f;
        }
        :nth-child(4){
            color:#fbe11f;
        }
        :nth-child(5){
            color:#fbe11f;
        }
    }
}