@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background: #e9e9e9;
	
}
.bn { 
	width: 100%;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center top;
	min-width: 1024px; 
}
.bn-t{
	height: 513px;
}
.bn-b{
	height: 239px;
}
.wrapper{
	overflow:visible;
	padding-bottom:60px;
	margin-top:0;
	padding-top:0;
}
.wrapper h2{
	border:none;
	box-shadow: none;
	text-align: left;
	height: 64px;
	font-size: 32px;
	vertical-align: bottom;
	margin-top:10px;
	background: url(//s1.bbgstatic.com/topic/2014/4/bingxi/img/title.jpg) no-repeat center;
}
.com-hd-t{
	padding-top:8px;
	text-indent: 70px;
	width:1034px;
	margin: 0 auto;
}
.spec-mod,.com-mod{
	background-repeat: no-repeat;
	background-position: center top;
	min-width: 1024px; 
	margin-bottom: 0;
}
.wrap-cnt{
	margin-top:0;
	position: relative;
	z-index: 2;
}
.spec-mod ul,.com-mod ul{
	margin-left:18px;
}
.com-mod ul {

}
#com5 .com-bd{
	padding-bottom: 20px;
}
.com-bd{
	width:1034px;
	margin: 0 auto;
	overflow: hidden;
}
.ad-link{
	width:999px;
	margin:15px auto 0 auto;
}
/*右侧浮层*/
.right-nav{
	display: none;
	position:fixed;
	-position:absolute;
	width:112px;
	height:196px;
	padding-top: 50px;
	z-index:100;
	left:55%;
	margin-bottom: 100px;
	margin-left:450px;
	bottom:35px;
	overflow: hidden;
	background:url(//s1.bbgstatic.com/topic/2014/4/bingxi/img/nav.png) no-repeat;
}
.right-nav a{
	height: 50px;
	font: 100 18px/46px 'Microsoft Yahei';
	color:#fff;
	text-decoration: none;
}
.right-nav a:hover{
	text-decoration: underline;
}

.right-nav .go-top{
	background:none;
	border:none;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.help{
	margin-top: 0;
}
#com2 .com-hd-t,#com3 .com-hd-t{
	text-align: right;
	padding-right: 60px;
	width:974px;
}
/* 家电商品样式 */
.com-buy-btn{
	background:#f00 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 5px -84px;
}
.com-buy-btn:hover{
	background:#b20000 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 5px -120px;
}
.com-mod .com-buy-btn{
	margin:0 auto 6px auto;
	height: 36px;
}
.com-mod .com-txt{
	margin: 0 auto 3px auto;
}
.com-mod .com-txt,.com-txt a, .com-mod .com-buy-btn{
	width: 177px;
}
.com-mod .p-normal,.spec-mod .p-normal{
	float: left;
}
.com-mod .p-del,.spec-mod .p-del{
	float: right;
	line-height: 24px;
}
.spec-mod li,.com-mod li{
	height: auto;
}
.spec-mod .com-txt{
	width: 228px;
	margin:5px auto 0 auto;
}
.spec-mod .com-txt a{
	width: 228px;
}
.spec-mod .com-buy-btn, .spec-mod .com-disabled-btn{
	width: 228px;
	height: 37px;
	line-height: 37px;
	margin:6px auto;
}
.spec-mod .com-box,.com-box{
	height: auto;
	padding: 0 6px;
}
.spec-mod .com-buy-btn{
	height: 42px;
	background:#f00 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat;
}
.spec-mod .com-buy-btn:hover{
	background:#b20000 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 0 -42px;
};