@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background:#380a9a;
}
.bn{
	width: 100%; 
	height: 500px; 
	overflow:hidden; 
	
} 
.bn,.layout{
	background-position:center top; 
	min-width: 1000px;
}

.layout{
	margin: 0 auto;
	width: 990px;
	background-repeat: no-repeat;
}
 
.wrapper{
	position: relative; 
	left: -3px; 
	min-width: 1000px;  
	margin-top:0; 
	padding-top:0; 
	margin-bottom:0; 
	padding-bottom: 0;
}	
.wrapper h2{
	border:none; 
	box-shadow: none;
	height: 55px;
	line-height: 55px;
	color: #fff;
	font-family: 'Microsoft Yahei';
}	 

.wrap-cnt{ 
	position: relative; 
	z-index: 2; 
	padding-bottom: 40px; 
}
.com-mod{
	margin-bottom: 10px;
}
.com-hd{
	position: relative; 
	left:0; 
	margin:0 auto;  
	width: 990px; 
	height: 90px; 
	overflow: hidden;
}
.com-hd a{
	display: inline-block;
	width: 114px;
	height: 44px;
}
.com-bd{
	position: relative; 
	width:990px;  
	margin: 0 auto; 
	overflow: hidden;  
}	
.com-bd ul{
	margin:0 auto;
	width: 1000px; 
	padding:10px 0px 0px 8px; 
	*padding-bottom: 10px;
}
 
.com-bd li{
	box-shadow: none;  
	margin:0px 6px 10px 0; 
	*margin-right: 3px;
} 	
.help{
	margin-top:0;
}

.ads-list li,.ads-list li a,.ads-list li img{
	display: block;
	margin-bottom: 10px;
	width: 245px;
	height: 125px;
	text-indent: -9999px;
	overflow: hidden;
} 
.img-list,.com-sel-mod{
	margin: 0 auto;
	width: 990px;
}
.com-sel-mod{
	height:275px;
}
.com-sel-mod a{
	float: left;
	width: 330px;
	height: 275px;
}
.img-list li,.img-list li img{
	display: block;
	width: 330px;
	height: 330px;
 }
.img-list li,.ads-list li{
	float: left;
}
.com-sel-list  ul{
	display: none;
}
.com-sel-list  ul.hover{
	display: block;
}
.right-nav{
	position:fixed; 
	-position:absolute; 
	width: 120px;
	height: 200px;
	padding-top: 40px; 
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:450px; 
	margin-bottom: 40px; 
	bottom:25px; 
	background:url(img/nav.png) no-repeat;
}	
.right-nav a{
	margin-bottom: 3px;
	height: 30px;
	font: 700 16px/30px 'Microsoft Yahei';
	color: #ffbf06; 
	text-indent: -10px;
}	
.right-nav .go-top{
	background:none; 
	border:none; 
	height: 35px;
	line-height: 35px; 
}