<script id="jListNoDelTmpl" type="text/html">
<% if((unableItems && unableItems.length!=0)||(unableGifts && unableGifts.length!=0)){ %>
    <div class="mod-list-no-del">
        <div class="bd">
            <div class="title">以下商品无货或不在配送范围之内,将不会进行结算</div>
            <div class="inner no-gds">
                <table class="box">
                    <tbody>
                        <!-- 不配送商品 begin -->
                        <% 
                            if(unableItems && unableItems.length!=0){
                                for(var e=0;e<unableItems.length;e++){ 
                                    //赠品标示
                                    var giftTag = unableItems[e]['giftTag'];
                                    var specAr = unableItems[e]['specList'];
                                        specAr = specAr?specAr:[];
                                    //规格
                                    var strSpec = '';
                                    if(specAr && specAr.length!=0){
                                        for(var t=0;t<specAr.length;t++){
                                            if(t == 0){
                                                strSpec = specAr[t].name + ':' + specAr[t].value;
                                            }else{
                                                strSpec += ','+specAr[t].name + ':' + specAr[t].value;
                                            }           
                                        }
                                    }
                                    strSpec = (strSpec!='')?(strSpec):strSpec;
                        %>
                        <tr class="jTableTr">
                            <td colspan="2">
                                <div class="detail">
                                    <ul class="box">
                                        <li class="tit">
                                            <div class="img">
                                                <a  href="//m.yunhou.com/item/<%=unableItems[e]['productId']%>.html" class="pro-img"><img class="jImg img-error" data-src="<%=getImgByType(unableItems[e]['productImage'],'m1')%>" src="//s1.bbgstatic.com/gshop/images/public/blank.gif"/></a>
                                            </div>
                                            <div class="info">
                                                <div class="des">
                                                    <% if(customers && customers=='团'){ %><em class="product-flag">团</em><% }else if(giftTag && giftTag == '赠'){ %><em class="product-flag">赠</em><% } %>
                                                    <a href="//m.yunhou.com/item/<%=unableItems[e]['productId']%>.html"  ><%=unableItems[e]['productName']%></a>
                                                </div>
                                                <span class="pri">
                                                    <% if(giftTag && giftTag == '赠'){ %>
                                                        --
                                                    <% }else{ %>
                                                        <em class="txt-red">￥<%=unableItems[e]['subtotal']%></em>
                                                    <% } %>
                                                </span>
                                            </div>
                                            <div class="clear pro">
                                                <span class="pri txt-els spec"><%= strSpec%></span>
                                                <span class="quty">数量:<%=unableItems[e]['quantity']%></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% }} %>
                        <!-- 不配送商品 end -->
                        <!-- 不配送赠品begin -->
                        <% if(unableGifts && unableGifts.length!=0){ 
                             for(var e=0;e<unableGifts.length;e++){ 
                                //赠品标示
                                    var giftTag = unableGifts[e]['giftTag'];
                                    var specAr = unableGifts[e]['specList'];
                                        specAr = specAr?specAr:[];
                                    //规格
                                    var strSpec = '';
                                    if(specAr && specAr.length!=0){
                                        for(var t=0;t<specAr.length;t++){
                                            if(t == 0){
                                                strSpec = specAr[t].name + ':' + specAr[t].value;
                                            }else{
                                                strSpec += ','+specAr[t].name + ':' + specAr[t].value;
                                            }           
                                        }
                                    }
                                    strSpec = (strSpec!='')?(strSpec):strSpec;
                        %>
                        <tr class="jTableTr">
                            <td colspan="2">
                                <div class="detail">
                                    <ul class="box">
                                        <li class="tit">
                                            <div class="img">
                                                <a  href="//m.yunhou.com/item/<%=unableGifts[e]['productId']%>.html" class="pro-img"><img class="jImg img-error" data-src="<%=getImgByType(unableGifts[e]['productImage'],'m1')%>" src="//s1.bbgstatic.com/gshop/images/public/blank.gif"/></a>
                                            </div>
                                            <div class="info">
                                                <div class="des">
                                                    <% if(customers && customers=='团'){ %><em class="product-flag flag-gray">团</em><% }else if(giftTag && giftTag == '赠'){ %><em class="product-flag flag-gray">赠</em><% } %>
                                                    <a href="//m.yunhou.com/item/<%=unableGifts[e]['productId']%>.html"  ><%=unableGifts[e]['productName']%></a>
                                                </div>
                                                <span class="pri">
                                                    <% if(giftTag && giftTag == '赠'){ %>
                                                        --
                                                    <% }else{ %>
                                                        <em class="txt-red">￥<%=unableGifts[e]['subtotal']%></em>
                                                    <% } %>
                                                </span>
                                            </div>
                                            <div class="clear pro">
                                                <span class="pri txt-els spec"><%= strSpec%></span>
                                                <!-- <span class="quty">数量:<%=unableGifts[e]['quantity']%></span> -->
                                                <span class="quty txt-red">无库存</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>    
                        <% }} %>
                        <!-- 不配送赠品end -->
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
<% } %>
</script>