@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background:#FCEC59;
} 
/* 头部 */
.bn{
	min-width:1190px;
	height:403px;
	background:url(img/banner.jpg?v=1) no-repeat top center;
}
.bn .layout{
	height:403px; 
}
.wrapper{
	margin:0 auto;
	padding:0;
	min-width:1190px; 
}
  
/* 商品块区 */
.com-mod,.spec-mod{
	margin:0 auto;
	padding:10px 0;
	width: 1000px; 
	overflow:hidden;
}
.com-mod ul{
	width:1000px;
}

h2.com-hd{
	margin-bottom: 10px;
	width:990px;
	height:50px; 
	box-shadow:none;
	border:0 none;
	background:url(img/hd.png?v=1) no-repeat;
	overflow:hidden;
}
.com-bd{
	margin:0 auto;
	overflow:hidden;
	*margin-bottom: 10px;
}
.com-bd li{
	*margin-right: 8px;
}
.img-list ul{
	position: relative;
	left:3px;
}
.img-list li{
	float: left;
	margin-right: 15px;
}
.img-list li,.img-list a{
	display: block;
	width: 235px;
	height: 195px;
}
.img-list li img{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.img-list-2 li{
	margin-right: 10px;
}
.img-list-2 li,.img-list-2 a{
	display: block;
	width: 190px;
	height: 150px;
}
/* 右侧浮层 */
.right-nav {
	padding-top:45px;
	width: 100px;
	height: 235px;
	left: 50%;
	margin-left: 500px;
	text-align:center;
	background: url(img/nav.png) no-repeat; 
	bottom: 25px;
	overflow: hidden;
	z-index: 99;
}
 
 

.right-nav a {
	display: block;
	padding:0 10px;
	font:700 16px/30px "microsoft yahei";
	height: 30px;
	color:#e71c4c;
	overflow: hidden;
}
.right-nav a.share{
	height:50px;
	line-height:24px;
}

.right-nav .go-top{
	height: auto;
	border-top:none;
	background:none;
	border-bottom:none;
	height:30px;
	line-height:30px;
}