@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background:#e1423e;
}
.bn{
	width: 100%; 
	height: 600px; 
	overflow:hidden; 
	
} 
.bn-1{
	height: 306px;
}
.bn-2{
	height: 286px;
}
.bn,.layout{
	background-position:center top; 
	min-width: 1000px;
}

.layout{
	margin: 0 auto;
	width: 990px;
	background-repeat: no-repeat;
}
 
.wrapper{
	position: relative; 
	left: -3px; 
	min-width: 1181px;  
	margin-top:0; 
	padding-top:0; 
	margin-bottom:0; 
	padding-bottom: 0;
}	
.wrapper h2{
	border:none; 
	box-shadow: none;
	height: 55px;
	line-height: 55px;
	color: #fff;
	font-family: 'Microsoft Yahei';
}	 

.wrap-cnt{ 
	position: relative; 
	z-index: 2; 
	padding-bottom: 40px; 
}

.eggs
{
	width: 1181px;
	margin: 0 auto;
}
.eggs .eggs-title
{
	height: 114px;
	text-align: right;
	color: #f8ff05;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
	font-size: 14px;
	background-position: center;
	background-repeat: no-repeat; 
	/* background:url(//s1.bbgstatic.com/topic/2014/10/eggs/img/eggs-title.jpg) no-repeat; */ 
}
.eggs .eggs-title p
{
	text-align: right;
	padding: 30px 140px 0px 0px;
	display: none;
}
.eggs .eggs-title em
{
	border-bottom: 1px solid #f8ff05;
	padding: 0px 7px;
	display: inline-block;
	height: 17px;
}
.eggs .eggs-notes
{
	height: 214px;
	background-repeat: no-repeat;
	background-position: center top;
	width: 923px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Microsoft Yahei';
	font-size: 14px;
	color: #f7ffff;
	line-height: 18px;
	background-repeat:no-repeat; 
}
.eggs .eggs-notes h1
{
	color: #ffe700;
}
.eggs .eggs-notes em
{
	background: #fdf167;
	color: #e93b3a;
	line-height: 15px;
	margin-top: 2px;
	display: inline-block;
	vertical-align: top;
}

.com-mod{
	margin-bottom: 10px;
}
.com-hd{
	position: relative; 
	left:0; 
	margin:0 auto;  
	width: 990px; 
	height: 90px; 
	overflow: hidden;
}
.com-hd a{
	display: inline-block;
	width: 114px;
	height: 44px;
}
.com-bd{
	position: relative; 
	width:990px;  
	margin: 0 auto; 
	overflow: hidden;  
}	
.com-bd ul{
	margin:0 auto;
	width: 1000px; 
	padding:10px 0px 0px 8px; 
	*padding-bottom: 10px;
}
 
.com-bd li{
	box-shadow: none;  
	margin:0px 6px 10px 0; 
	*margin-right: 3px;
} 	
.help{
	margin-top:0;
}

.ads-list li,.ads-list li a,.ads-list li img{
	display: block;
	margin-bottom: 10px;
	width: 245px;
	height: 125px;
	text-indent: -9999px;
	overflow: hidden;
} 
.img-list,.com-sel-mod{
	margin: 0 auto;
	width: 990px;
}
.com-sel-mod{
	height:275px;
}
.com-sel-mod a{
	float: left;
	width: 330px;
	height: 275px;
}
.img-list li,.img-list li img{
	display: block;
	width: 330px;
	height: 330px;
 }
.img-list li,.ads-list li{
	float: left;
}
.com-sel-list  ul{
	display: none;
}
.com-sel-list  ul.hover{
	display: block;
}
.right-nav{
	position:fixed; 
	-position:absolute; 
	width: 120px;
	height: 200px;
	padding-top: 40px; 
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:450px; 
	margin-bottom: 40px; 
	bottom:25px; 
	background:url(img/nav.png) no-repeat;
}	
.right-nav a{
	margin-bottom: 3px;
	height: 30px;
	font: 700 16px/30px 'Microsoft Yahei';
	color: #ffbf06; 
	text-indent: -10px;
}	
.right-nav .go-top{
	background:none; 
	border:none; 
	height: 35px;
	line-height: 35px; 
}


.smashing-eggs {
    
    margin: 0px auto 0px auto;
    background: #e1423e;
}
.smashing-eggs ul li {
    z-index: 999;
}
.smashing-eggs .eggList {
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}
.smashing-eggs .eggList li {
    float: left;
    background: url(img/eggs/egg_1.jpg) no-repeat bottom;
    width: 272px;
    height: 225px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-left: 35px;
}
.smashing-eggs .eggList li span {
    position: absolute;
    width: 30px;
    height: 60px;
    left: 115px;
    top: 85px;
    color: #ff0;
    font-size: 42px;
    font-weight: bold;
}
.smashing-eggs .eggList li.curr {
    background: url(img/eggs/egg_2.png) no-repeat bottom;
    cursor: default;
    z-index: 300;
}
.smashing-eggs .eggList li.curr sup{
    position: absolute;
    background: url(img/eggs/flower-bg.png) no-repeat;
    
    width: 232px;
    height: 181px;
    top: -50px;
    left: 7px;
    z-index: 800;
    display: none;
}
.smashing-eggs .hammer {
    background: url(img/eggs/img-6.png) no-repeat;
    width: 74px;
    height: 87px;
    position: absolute;
    text-indent: -9999px;
    z-index: 1000;
    left: 168px;
    top: 100px;
    display: none;
}
.smashing-eggs .resultTip {
    position: absolute;
    background: #ffc;
    width: 148px;
    padding: 6px;
    z-index: 500;
    top: 200px;
    left: 10px;
    color: #f60;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 500;
}
.smashing-eggs .resultTip b {
    font-size: 14px;
    line-height: 24px;
}
.smashing-eggs .tips-text
{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    display: none;
}
.smashing-eggs .tips-text .num
{
    color: #faff05;
    font-weight: bold;
    font-size: 18px;
}
.arrow-btn
{
    text-align: center;
    padding-right: 5px;
}
.arrow-content {
    position:absolute;
    width:200px;
    border:solid 1px #CCC;
    border-radius:5px;
    font-size:12px;
    background: #fcecec;
    z-index: 1000;
    padding: 5px 0px 5px 5px;
    display: none;
    text-align: center;
}
.arrow, .arrow div,.arrow-b, .arrow-b div{
    border-width:10px;
    border-style:dashed dashed solid dashed;
    border-color: transparent transparent #CCC transparent;
    position:absolute;
    
    top:-20px;
    right:auto;
    bottom:auto;
    left: 10px;
    height:0;
    width:0;
    line-height:0;
}
.arrow div {
    top:-9px;
    left:-10px;
    border-bottom-color:#FFF;
}
.arrow-b, .arrow-b div {
    top:auto;
    right:auto;
    bottom:-20px;
    left: 92px;
    border-style:solid dashed dashed dashed;
    border-color:#CCC transparent transparent transparent; 
}
.arrow-b div {
    left: -10px;
    bottom: -9px;
    border-top-color: #fcecec;
}
.b-txt{
    font-size: 14px;
    line-height: 24px;
    word-wrap: break-word;
    word-break: normal;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
}
.bt-success{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);  
    padding: 0px 5px;
    display: none;
    border: 0px;
    cursor: pointer;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
}