@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background:#59b3ff;
}
.bn{
	height: auto;
}
.layout{
	margin: 0 auto;
	width: 990px;
}
.cnt-box{
	position: relative;
	padding-bottom: 60px;
	z-index: 3; 
}
.spec-mod,.com-mod{
	margin: 0 auto 40px;
	width: 1000px; 
}
 
 
.img-list ul{ 
	padding: 20px 0;
	margin-left: -10px;
} 

.img-list li,.img-list a,.img-list img{
	display: block;
	width: 240px;
	height: 256px;
}
.img-list li{
	float:left;
	margin-left:10px;
}
.spec-mod  .img-list-mod {
	margin-top: 0;
	background: #fac92e;
}
.spec-mod  .img-list-mod ul{
	left: 6px;
}
.spec-mod  .img-list-mod li,.spec-mod  .img-list-mod a,.spec-mod .img-list-mod img{
	display: block;
	width: 240px;
	height: 310px;
}
.com-bd li{
	margin:0 3px 10px 0;
}

/*nav*/ 
.right-nav{
	position:fixed; 
	padding-top: 75px;
	width: 127px;
	height: 454px;
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:430px;
	margin-bottom: 40px;
	bottom:25px;
	background:url(img/nav.png) no-repeat; 
	
}	
.right-nav a{  
	height: 40px;
margin-bottom: 10px; 
	text-align: center;
	text-decoration: none;
	text-indent: -99999px;
} 
.right-nav .go-top{  
	line-height: 50px;
	border:none;
	background:none; 
}