
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bbgkefu:before { content: "\e638"; }
.icon-bbgshouqi:before { content: "\e600"; }
.icon-bbgzhankai:before { content: "\e601"; }
.icon-bbgshangyige:before { content: "\e602"; }
.icon-bbgxiangyou:before { content: "\e604"; }
.icon-bbgxiangzuo:before { content: "\e605"; }
.icon-bbgzhengque:before { content: "\e606"; }
.icon-bbgcuowu:before { content: "\e607"; }
.icon-bbgjianxiao:before { content: "\e608"; }
.icon-bbgjiada:before { content: "\e609"; }
.icon-bbgsousuo:before { content: "\e60a"; }
.icon-bbgsuoxiao:before { content: "\e60b"; }
.icon-bbgfangda:before { content: "\e60c"; }
.icon-bbgzhinanzhen:before { content: "\e63c"; }
.icon-bbgzhifufangshi:before { content: "\e63d"; }
.icon-bbgyuyin:before { content: "\e60d"; }
.icon-bbgshuaxin:before { content: "\e60e"; }
.icon-bbgpinzhi:before { content: "\e63e"; }
.icon-bbgmendian:before { content: "\e63f"; }
.icon-bbgkefu1:before { content: "\e60f"; }
.icon-bbghuiyuan:before { content: "\e640"; }
.icon-bbgmima:before { content: "\e610"; }
.icon-bbgweizhi:before { content: "\e611"; }
.icon-bbgtupian:before { content: "\e613"; }
.icon-bbgfujian:before { content: "\e614"; }
.icon-bbgshoucang:before { content: "\e615"; }
.icon-bbgyouxiang:before { content: "\e616"; }
.icon-bbgfenxiang:before { content: "\e617"; }
.icon-bbgdatumoshi:before { content: "\e618"; }
.icon-bbgliebiao:before { content: "\e619"; }
.icon-bbgjiadian:before { content: "\e64d"; }
.icon-bbgxiangji:before { content: "\e657"; }
.icon-bbgshengxian:before { content: "\e64e"; }
.icon-bbgqingji:before { content: "\e64f"; }
.icon-bbgshipin:before { content: "\e650"; }
.icon-bbgjiaju:before { content: "\e651"; }
.icon-bbgjiushui:before { content: "\e652"; }
.icon-bbggerenxihu:before { content: "\e653"; }
.icon-bbgmuying:before { content: "\e654"; }
.icon-bbgyinliao:before { content: "\e655"; }
.icon-bbgniunai:before { content: "\e656"; }
.icon-bbghuishouzhan:before { content: "\e61b"; }
.icon-bbgzhuye:before { content: "\e61c"; }
.icon-bbgpingjiaxing:before { content: "\e61d"; }
.icon-bbgjiaoliu:before { content: "\e61e"; }
.icon-bbgdianhua:before { content: "\e61f"; }
.icon-bbgdingdan:before { content: "\e620"; }
.icon-bbgyonghu:before { content: "\e621"; }
.icon-bbghuoyun:before { content: "\e622"; }
.icon-bbgxiaoxitishi:before { content: "\e623"; }
.icon-bbgjingshi:before { content: "\e624"; }
.icon-bbgsousuo1:before { content: "\e625"; }
.icon-bbgjinggaotishibudaiyuan:before { content: "\e626"; }
.icon-bbgxinxitishibudaiyuan:before { content: "\e627"; }
.icon-bbgchabudaiyuan:before { content: "\e628"; }
.icon-bbggoubudaiyuan:before { content: "\e629"; }
.icon-bbgjianhaobudaiyuan:before { content: "\e62a"; }
.icon-bbgjiahaobudaiyuan:before { content: "\e62b"; }
.icon-bbgxiangshangxiao:before { content: "\e62c"; }
.icon-bbgxiangxiaxiao:before { content: "\e62d"; }
.icon-bbgxiangxiajiantoushixin:before { content: "\e62e"; }
.icon-bbgpingjiaxingshixin:before { content: "\e62f"; }
.icon-bbggouwuche:before { content: "\e630"; }
.icon-bbgrili:before { content: "\e64c"; }
.icon-bbgxiaoxi:before { content: "\e631"; }
.icon-bbgshizhongjiandan:before { content: "\e632"; }
.icon-bbgyoujiandakai:before { content: "\e633"; }
.icon-bbgshenglvedian:before { content: "\e639"; }
.icon-bbgxiayiji:before { content: "\e63a"; }
.icon-bbgzhengpin:before { content: "\e641"; }
.icon-bbgyiwenshixin:before { content: "\e634"; }
.icon-bbgcuowushixin:before { content: "\e635"; }
.icon-bbgzhengqueshixin:before { content: "\e636"; }
.icon-bbgjinggaoshixin:before { content: "\e637"; }
.icon-bbgxinxitishishixin:before { content: "\e63b"; }
.icon-bbgshizhong:before { content: "\e642"; }
.icon-bbgbianji:before { content: "\e61a"; }
.icon-bbgtengxunweibo:before { content: "\e643"; }
.icon-bbgxinlangweibo:before { content: "\e644"; }
.icon-bbgzhiyin:before { content: "\e64a"; }
.icon-bbgzhaoshang:before { content: "\e645"; }
.icon-iconfontyonghu:before { content: "\e646"; }
.icon-bbgxinxitishibudaiyuan1:before { content: "\e647"; }
.icon-bbgjinggaotishibudaiyuan1:before { content: "\e648"; }
.icon-dianhuashixin:before { content: "\e64b"; }
.icon-bbgshezhi:before { content: "\e612"; }
.icon-tengxunweibo:before { content: "\e658"; }
.icon-renrenwang:before { content: "\e659"; }
.icon-xinlangweibo:before { content: "\e65a"; }
.icon-bbgdianpu:before { content: "\e65b"; }
.icon-erweima:before { content: "\e65c"; }
.icon-jiaobiao:before { content: "\e65d"; }
.icon-pengyouquan:before { content: "\e65e"; }
.icon-weixinhaoyou:before { content: "\e65f"; }
.icon-weixin:before { content: "\e660"; }
.icon-qq:before { content: "\e661"; }
.icon-baojianpin:before { content: "\e662"; }
.icon-gerenhuli:before { content: "\e663"; }
.icon-naifen:before { content: "\e664"; }
.icon-yingerfushi:before { content: "\e665"; }
.icon-zhiniaoku:before { content: "\e666"; }
.icon-bbgquanqiugou:before { content: "\e667"; }
.icon-jiantouxiangshang:before { content: "\e669"; }
.icon-jiantouxiangxia:before { content: "\e66a"; }
.icon-qian:before { content: "\e66b"; }
.icon-yemian24:before { content: "\e66c"; }
.icon-yemian48:before { content: "\e66d"; }
.icon-yemian96:before { content: "\e66e"; }
.icon-qqkongjian:before { content: "\e66f"; }
.icon-bbgxiayige:before { content: "\e603"; }
.icon-bbglogonew:before { content: "\e649"; }
.icon-cai:before { content: "\e668"; }
.icon-cha:before { content: "\e670"; }
.icon-chi:before { content: "\e671"; }
.icon-chu:before { content: "\e672"; }
.icon-li:before { content: "\e673"; }
