.snow-1, .snow-2, .snow-3, .snow-4, .snow-5, .snow-6, .snow-7, .snow-8, .snow-9{
	background:url(../img/snow/snow-1.png) 0 0 no-repeat;
	width:47px;
	height:47px;
}

.snow-1{
	background-position:0 0;
}

.snow-2{
	background-position:0 -60px;
}

.snow-3{
	background-position:0 -120px;
}

.snow-4{
	background-position:0 -180px;
}

.snow-5{
	background-position:0 -240px;
}

.snow-6{
	background-position:0 -300px;
}

.snow-7{
	background-position:0 -360px;
}

.snow-8{
	background-position:0 -420px;
}

.snow-9{
	background-position:0 -480px;
}

.snow-10,.snow-11,.snow-12,.snow-13,.snow-14,.snow-15{
	background:url(../img/snow/snow-2.png) 0 0 no-repeat;
	width:18px;
	height:16px;
}
.snow-10{
	background-position:0 0;
}
.snow-11{
	height: 16px;
	background-position:0 -18px;
}

.snow-12{
	height: 10px;
	background-position:0 -42px;
}

.snow-13{
	height: 8px;
	background-position:0 -60px;
}

.snow-14{
	height: 8px;
	background-position:0 -78px;
}

.snow-15{
	height: 8px;
	background-position:0 -91px;
}