@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
.icbc-list {
    background: #eb5067;
    overflow: hidden;
}
.icbc-gift {
    width: 953px;
    height: 243px;
    margin: 0 auto;
}
.icbc-gift a {
    width: 459px;
    height: 235px;
    display: block;
    float: left;
}
.icbc-gift .t {
    margin-left: 35px;
}
.more-favorable {
    width: 1022px;
    height: 347px;
    background: url(more-favorable.jpg) no-repeat center;
    margin:0 auto;
    margin-top: 13px;
    padding-left: 55px;
    padding-top: 50px;
}
.more-favorable .ctn {
    position: relative;
    width: 975px;
    height: 318px;
}
.more-favorable .show-img {
    position: absolute;
    display: block;
}
.more-favorable a img {
    border: 0px;
}
.more-favorable .one {
    width: 352px;
    height: 317px;
    top: 2px;
    left: 3px;
}
.more-favorable .one img {
    width: 353px;
    height: 318px;
}
.more-favorable .two {
    width: 350px;
    height: 189px;
    top: 2px;
    left: 358px;
}
.more-favorable .two img {
    width: 352px;
    height: 190px;
}
.more-favorable .three {
    width: 262px;
    height: 189px;
    top: 2px;
    left: 712px;
}
.more-favorable .three img {
    width: 264px;
    height: 190px;
}
.more-favorable .four {
    width: 353px;
    height: 124px;
    top: 194px;
    left: 358px;
}
.more-favorable .four img {
    width: 352px;
    height: 126px;
}
.more-favorable .five {
    width: 263px;
    height: 125px;
    top: 194px;
    left: 712px;
}
.more-favorable .five img {
    width: 264px;
    height: 126px;
}
.bn {
    width: 100%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center top;
    min-width: 1024px;
}
.bn-t {
    height: 539px;
}
.bn-t .inner-box {
    width: 1042px;
    margin: 0 auto;
    position: relative;
}
.bn-t .inner-box .tips-info {
    width: 407px;
    height: 100px;
    position: absolute;
    top: 440px;
    right: 83px;
    font-size: 13px;
    font-family:'Microsoft YaHei';
    line-height:20px;
    color: #43010b;
}
.bn-b {
    height: 239px;
}
.wrapper {
    overflow:visible;
    padding-bottom:0px;
    margin-top:0;
    padding-top:0;
}
.wrapper h2 {
    border:none;
    box-shadow: none;
    text-align: left;
    height: 58px;
    font-size: 32px;
    vertical-align: bottom;
}
.com-hd-t {
    padding-top:8px;
    text-indent: 70px;
    width:1034px;
    margin: 0 auto;
}
.spec-mod {
    background: url(title-1.jpg) no-repeat;
}
.com-mod {
    background: url(title-1.jpg) no-repeat;
}
.more-mod {
    background: url(title-1.jpg) no-repeat;
}
.spec-mod, .com-mod {
    background-repeat: no-repeat;
    background-position: center top;
    min-width: 1024px;
    margin-bottom: 0;
    +padding-bottom: 20px;
}
.wrap-cnt {
    margin-top:0;
    position: relative;
    z-index: 2;
}
.spec-mod ul, .com-mod ul {
    margin-left:24px;
}
#com5 .com-bd {
    padding-bottom: 20px;
}
.com-bd {
    width:1041px;
    margin: 0 auto;
    overflow: hidden;
    background: #d43f55;
}
.ad-link {
    width:999px;
    margin:15px auto 0 auto;
}
.right-nav {
    position:fixed;
    -position:absolute;
    width:112px;
    height:196px;
    padding-top: 79px;
    z-index:100;
    left:53%;
    margin-bottom: 100px;
    margin-left:450px;
    bottom:35px;
    overflow: hidden;
    background:url(nav.png) no-repeat;
}
.right-nav a {
    height: 46px;
    font: 100 18px/46px'Microsoft Yahei';
    color:#fff;
    text-decoration: none;
}
.right-nav a:hover {
    text-decoration: underline;
}
.right-nav .go-top {
    background:none;
    border:none;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.help {
    margin-top: 0;
}
#com2 .com-hd-t, #com3 .com-hd-t {
    text-align: right;
    padding-right: 60px;
    width:974px;
}
.spec-mod li {
    width: 183px;
}
.spec-mod .com-img {
    width: 165px;
    height: 170px;
}
.spec-mod .com-img img {
    width: 165px;
    height: 165px;
}
.spec-mod .com-txt .p-normal {
    font-size: 17px;
}
.spec-mod .com-txt .p-del {
    font-size: 13px;
}
.com-mod li {
    width: 240px;
    height: 320px;
}
.com-mod .com-img {
    width: 214px;
    text-align: center;
    height: 238px;
}
.com-mod .com-img img {
    width: 214px;
    height: 214px;
    margin-top: 14px;
}
.com-mod .com-txt .p-normal {
    font-size: 20px;
}
.com-mod .com-txt .p-del {
    font-size: 13px;
}
.com-mod-bottom {
    height: 18px;
    overflow: hidden;
    background: #d43f55;
    width: 1041px;
    margin: 0 auto;
}
.com-buy-btn, .com-disabled-btn {
    display: block;
    width: 66px;
    height: 62px;
    background-position: 0 -62px;
    margin-top: -1px;
}
.rules-gift {
    background: #5fa5de;
    position: relative;
    min-height: 321px;
}
.rules-gift .ctt {
    padding-top: 22px;
}
.rules-2-bg {
    width: 100%;
    height: 1268px;
    margin-top: 9px;
    position: relative;
    background: url(rules-bg.png) no-repeat;
    background-position: center bottom;
}
.rules-gift-item {
    background: url(rules-1.jpg) no-repeat;
}
.rules-gift-item .goShopping
{
    position: absolute;
    width: 155px;
    height: 172px;
    right: 51px;
    bottom: 5px;
}
.rules-gift-item-2 .goShopping2
{
    position: absolute;
    width: 155px;
    height: 172px;
    right: 48px;
    bottom: 13px;
}
.rules-gift-item .icbc-help {
    position: absolute;
    height: 58px;
    width: 223px;
    top: 100px;
    left: 611px;
}
.rules-gift-item .icbc-help:hover {
    border-bottom: 1px solid red;
}
.rules-gift-item, .rules-gift-item-2, .rules-gift-item-3 {
    width: 1089px;
    height: 567px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
}
.rules-gift-item-3 .flag
{
    position: absolute;
    width: 228px;
    height: 72px;
    background: url(flag.png) no-repeat;
    bottom: 96px;
    right: -141px;
}
.rules-2 {
    width: 100%;
}
.rules-gift-item-2 {
    height: 628px;
    background-position: -10px 0px;
}
.rules-3 {
    width: 100%;
    overflow: hidden;
}
.rules-gift-item-3 {
    height: 639px;
    background-position: -10px 0px;
}
.rules-gift-item-3 .ctt {
    width: 820px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}
.rules-gift-item-3 .ctt a {
    display: block;
    height: 30px;
    width: 300px;
    position: absolute;
    top: 167px;
    left: 176px;
}
.rules-gift-item-3 .ctt a:hover {
    border-bottom: 1px solid red;
}
.rules-gift .r-box {
    display: block;
    position: absolute;
    width: 43px;
    height: 139px;
    top: 136px;
    right: 75px;
    _right:73px;
}
.rules-gift .r-box2 {
    right : 73px;
    right:73px\9;
    _right:72px;
}
.rules-gift .r-box {
}
.rules-gift .r-box span {
    display: none;
}
.rules-gift .r-box:hover {
}
.rules-gift .r-box:hover span {
    display: block;
}
.rules-gift .detail-1 {
    width: 598px;
    height: 321px;
    position: absolute;
    top: 0px;
    right: 1px;
    background: url(detail-1.gif) no-repeat center;
}
.rules-gift .detail-2 {
    width: 598px;
    height: 321px;
    position: absolute;
    top: 0px;
    right: 1px;
    background: url(detail-2.gif) no-repeat center;
}
.r-menu {
    width: 32px;
    height: 120px;
    position: fixed;
    right: 0px;
    top: 100px;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+100));
    background: url(r-menu.gif) no-repeat center;
    z-index: 1000;
}
.r-menu .r-menu-detail {
    display: none;
    position: absolute;
    background: url(r-menu-detail-bg.gif) no-repeat center;
    width: 827px;
    height: 442px;
    right: 0px;
    top: 0px;
    padding: 10px;
    padding-left: 30px;
}
.r-menu .r-menu-detail i {
    padding: 10px;
    display: block;
    width: 807px;
    height: 422px;
    overflow: auto;
}
.r-menu:hover {
}
.r-menu:hover span {
    display: block;
}
.com-mod .com-txt {
    width:165px;
}
