@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background-color: #e74700;
}
.cnt-box{
    margin-top: 0px;
    margin-bottom: 100px;
}

.bn p{
	top: 185px;
	left: 310px;
	font: 400 20px/24px 'Microsoft Yahei';
	color: #333;
}
.spec-mod{
    margin: 0 auto 40px;
    width: 1002px;
    overflow: hidden;
}
.spec-mod .com-hd{
    display: none;
}
.spec-mod .com-bd{
    background: #a73300;
}

.com-mod{
	margin: 0 auto 40px;
	width: 988px;
	overflow: hidden;
}

.com-hd{
	height: 63px;
	font: 400 48px/95px 'Simsun';
	color: #fff;
	text-indent: 0;
	text-align: center;
    background:url(img/nav.png) no-repeat center top;
}
#com1 .com-hd{
    background-position:  -6px 1px;
}
#com2 .com-hd{
    background-position:  -6px -69px;
}
#com3 .com-hd{
    background-position:  -6px -138px;
}
#com4 .com-hd{
    background-position:  -6px -208px;
}
#com5 .com-hd{
    background-position:  -6px -277px;
}
#com6 .com-hd{
    background-position:  -6px -347px;
}
.com-hd h2{
    display: none;
}
.com-bd{
	padding-top: 20px;
    background: #222744;
}
.com-bd ul{
	position: relative;
	left: 10px;
	*margin-bottom: 10px;
}
.com-bd li{
	margin: 0 5px 10px 0;
}
/*nav*/ 
.right-nav{
	position:fixed; 
	-position:absolute; 
	width: 119px;
	height: auto;
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:450px;
	margin-bottom: 40px;
	bottom:25px;
}
.right-nav .nav-cnt{
    background:url(img/rnav.png) no-repeat center top;
    padding-top: 72px;
}
.right-nav a{
	height: 40px;
	line-height: 40px;
	font: 400 20px/40px 'Microsoft Yahei';
	color:#290200;
	text-align: center;
	background: #c12a02;
}
.right-nav a:hover{
    text-decoration: none;
    font-weight: bold;
}
.right-nav .go-top{
	height: 168px;
	line-height: 40px;
	border:none;
	background:url(img/rnav2.png) no-repeat center center;
}