.mod-demo {
    margin: .3rem;
    border: 1px solid #84c9fa;
    overflow: hidden;
    @include border-radius(3px);
    .hd {
        border-bottom: 1px solid #84c9fa;
        line-height: 1.8rem;
        padding-left: 0.5rem;
        background: #f4f1f1;
        text-transform: capitalize;
        color: #999;
        text-shadow: 1px 1px 3px #FFF;
    }
    .bd {
        padding: 0 .2rem;
        line-height: 0;
    }
}
