.mod-comment-head {
    height: rem(60);
    background: #fff;
    a{
        display: inline-block;
        width: rem(300);
        line-height: rem(56);
        float: left;
        text-align: center;
        font-size: rem(26);
        color: #666;
        text-decoration: none;
        span{
            display: inline-block;
            -webkit-box-sizing:border-box;
            height: 100%;
            padding: 0 rem(6);
        }
    }
    a.active{
        span{
            border-bottom: rem(4) solid #f16320;
            color: #f16320;
        }
    }
}
