$icoColor : #70aff4, #f8596f, #f16320, #f86196;//1.第三方;2.门店;3.自营;4.全球购
//生成色彩盒子
@mixin icoBox(){
    @for $i from 1 through length($icoColor) {
        $item : nth($icoColor,$i);
         .ico-clr-#{$i} {
            background: $item;
        }
    }
}
//增加和减少盒子
.add-box {
    overflow: hidden;
    border: 1px solid #c0c0c0;  
    height: rem(50);
    border-radius: rem(10);
    .box-l,.box-r {
        float: left;
        width: rem(48);
        height: rem(50);
        line-height: rem(50);
        text-align: center;
        border-right: 0px;
    }
    .box-m {
        float: left;
        border-left: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        height: rem(50);
        input {
            width: rem(62);
            height: rem(48);
            border: 0px;
            text-align: center;
            border-radius: 0px;
            box-shadow:none;
            background:none;
            outline: none;
        }
    }
    .icon {
        color: #959595;
        font-size: rem(38);
        width: rem(38);
        height: rem(38);
        line-height: rem(38);
        // vertical-align: middle;
    }
    .box-r {
        /* border: 1px solid #cccccc;
        border-left: 0px; */
        border-radius: 0px rem(4) rem(4) 0px;
    }
}
.page-view {
    padding: 0px;
    color: #656565;
    .txt-black {
        color: #333333;
    }
    .txt-red-2 {
        color: #fe5361;
    }
    .txt-666 {
        color: #666666;
    }
    .txt-999 {
        color: #999999;
    }
    .txt-de-th {
        text-decoration: line-through;
    }
    .mod-cart {
        .bd {
            .inner {
                padding-bottom: rem(126);
                .no-data {
                    font-size: rem(26);
                    padding: rem(20);
                    text-align: center;
                }
            }
            .list {
                background: #fff;
                margin-bottom: rem(20);
                .box {
                    .title-box {
                        th {
                            background: #f7f7f7;
                        }
                    }
                    .h1 {
                        color: #666666;  
                        max-width: rem(340);
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .market-tips {
                        font-size: rem(24);
                        color: red;
                        padding: 0px rem(10);
                    }
                    .checkbox {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: rem(20);
                    }
                    .shop-icon {
                        text-align: center;
                        color: #323232;
                        border-left: 1px solid #d7d7d7;
                        width: rem(134);
                    }
                    .oper {
                        font-size: rem(24);
                        padding-right: rem(20);
                        text-align: right;
                        .ui-button {
                            font-size: rem(36);
                            width: rem(160);
                            height: rem(80);
                            background: #f16320;
                            border: 1px solid #f16320;
                        }
                    }
                    .info-th {
                        color: #999999;
                        font-size: rem(24);
                        .total-txt {
                            font-size: rem(34);
                        }
                        .tottal-tips {
                            font-size: rem(24);
                            color: #999999;
                        }
                        .ui-pri {
                            font-size: rem(34);
                        }
                        .total-price {
                            color: #676767;
                            @extend .ui-pri;
                        }
                    }
                    th {
                        font-weight: normal;
                        font-size: rem(30);
                        vertical-align: middle;
                        padding: rem(16) 0px rem(16) rem(0);
                        /* background: #F1F3F5; */
                        padding: rem(14) 0px; 
                        text-align: left;
                        border-top:1px solid #cccccc;
                        border-bottom:1px solid #cccccc; 
                        .tips {
                            font-size: rem(24);
                            color: #e60100;
                        }
                    }
                    th.chk,td.chk {
                        width: rem(80);
                        text-align: center;
                        padding: 0px;
                    }
                    td.chk {
                        .icon {
                            width: rem(34);
                            height: rem(34);
                            line-height: rem(34);
                            font-size: rem(34);
                            color: #D84550;
                        }
                    }
                    //优惠信息
                    th.prf {
                        padding-left: rem(20);
                        padding-top: rem(6);
                        border-top: 0px;
                    }
                    .border-0 th {
                        border: 0px;
                    }
                    .smart-monkey {
                        font-family: '宋体';
                        border-radius: rem(10);
                        background: #2CBAC0;
                        color: #fff;
                        padding: rem(2) rem(6);
                        font-size: rem(26);
                        max-width: rem(200);
                        vertical-align: middle;
                        display: inline-block;
                    }
                    @include icoBox();
                    .prem {
                        display: inline-block;
                        background: #f16320;
                        color: #fff;
                        padding: 1px 3px;
                    }
                    .flag-gray {
                        background: #999;
                        color: #fff;
                    }
                    td {
                        vertical-align: middle;
                        font-size: rem(26);
                        line-height: rem(30);
                        padding: rem(22);
                        padding-left: 0px;
                        border-bottom: 1px solid #CCCDCC;
                        .box-wrap {
                            position: relative;
                            .no-dis {
                                position: absolute;
                                background: url("//s1.bbgstatic.com/gshop/images/cart/cart-no-dis.png") no-repeat;
                                background-size: 100%;
                                height: rem(112);
                                width: rem(112);
                                top: rem(-22);
                                right: rem(-22);
                                z-index: 1; 
                            }
                        }
                        .detail {
                            position: relative;
                            .box {
                                li {
                                    line-height: rem(32);
                                    position: relative;
                                    .img {
                                        width :rem(132);
                                        height :rem(132);
                                        padding-top: rem(4);
                                        border: 1px solid #f2f2f2;
                                        text-align: center;
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        .pro-img {
                                            display: block;
                                            width :rem(126);
                                            height :rem(126);
                                            vertical-align: middle;
                                            display: inline-block;
                                            img {
                                                width :rem(126);
                                                height :rem(126);
                                                display: block;
                                            }
                                        }
                                    }
                                    .info {
                                        margin-top: rem(-4);
                                        min-height: rem(100);
                                        .info-box {
                                            min-height: rem(70);
                                        }
                                        .pre-info {
                                            width: rem(394);
                                            .txt-red {
                                                display: inline-block;
                                                vertical-align: middle;
                                            }
                                            .text {
                                                vertical-align: middle;
                                                width: rem(394);
                                            }

                                        }
                                        .specification {
                                            font-size: rem(22);
                                            color: #999;
                                        }
                                        .des {//描述
                                            display: block;
                                            color: #595959;
                                            float: left;
                                            width: rem(230);
                                        }
                                        .pri {
                                            float: right;
                                            display: block;
                                            @extend .ui-pri;
                                        }
                                        .tight-inventory {
                                            clear: both;
                                        }
                                        .txt-red {
                                            color: red;
                                        }
                                    }
                                    .pro {//属性
                                        font-size: rem(26);
                                        .pri {//价格
                                            display: block;
                                            float: left;
                                            @extend .ui-pri;
                                            i {
                                                font-size: rem(22);
                                            }
                                        }
                                        .prefer {
                                            display: inline-block;
                                            float: left;
                                            color: #ee641e;
                                            font-size: rem(24);
                                            margin-left: rem(22);
                                            @extend .ui-pri;
                                        }
                                        .quty {
                                            display: inline-block;
                                            float: right;
                                        }
                                    }
                                    .opr-box {
                                        margin-top: rem(10);
                                        .b-l {
                                            float: left;
                                            position: relative;
                                            .img-mask-l {
                                                position: absolute;
                                                width: rem(130);
                                                height: rem(80);
                                                bottom: rem(-16);
                                                left: rem(-80);
                                            }
                                            .img-mask-r {
                                                position: absolute;
                                                width: rem(130);
                                                height: rem(80);
                                                bottom: rem(-16);
                                                right: rem(-80);
                                            }
                                        }
                                        .b-r {
                                            float: right;
                                            height: rem(60);
                                            line-height: rem(60);
                                            width: rem(100);
                                            text-align: right;
                                            .ico-del {
                                                font-size: rem(50);
                                                color: #c0c0c0;
                                            }
                                        }
                                    }
                                    .stock-txt {
                                        color: red;
                                        margin-top: rem(10);
                                    }
                                }
                                .tit {//内容
                                    min-height :rem(128);
                                    padding-left: rem(144);
                                }
                                .item-opr {//操作
                                    line-height: auto;
                                    .opr-l{
                                        float: left;
                                        margin-left: rem(22);
                                        .ui-button {
                                            height: rem(60);
                                            line-height: rem(60);
                                            width: auto;
                                            background: transparent;
                                            color: #949494;
                                            border: 1px solid #ccc;
                                            box-shadow : none;
                                            padding: 0px rem(30);
                                            color: #666666;
                                        }
                                        .icon {
                                            font-size: rem(62);
                                            width: rem(62);
                                            height: rem(62);
                                            line-height: rem(62);
                                            color: #FF6260;
                                        }
                                    }
                                    .opr-r {
                                        float: right;
                                    }
                                    //库存不足提示框
                                }
                            }
                        }
                    }
                    //已享受优惠
                    .prefer-box {
                        font-size: rem(24); 
                        .pr-tit {
                            color: #e60100;
                            .en-txt {
                                color: #7c7c7c; 
                            }
                            .en-ctn {
                                color: #da0000;
                            }
                            .icon {
                                font-size: rem(30);
                                color: #da0000;
                            }
                            .display-n {
                                display: none;
                            }
                        }
                        .pr-ctn {
                            display: none;
                            width: rem(540);
                            i {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .i-txt {
                                vertical-align: middle;
                            }
                        }
                    }
                    //list 禁止状态
                    .list-disabled {
                        color: gray!important;
                        td {
                            background: #F1F1F1;
                        }
                        .pro a {
                            color: gray!important;
                        }
                        img {
                            filter: alpha(opacity =90);
                            -moz-opacity: 0.9;
                            -khtml-opacity: 0.9;
                            opacity: 0.9;
                        }
                        .minato-single {
                            background: #ccc!important;
                        }
                    }
                }
                .cnt {
                    font-size: rem(28);
                    text-align: right;
                    padding: rem(20);
                    overflow: hidden;
                    border-bottom: 1px solid #cccccc;
                    .lft {
                        float: left;
                        display: inline-block;
                    }
                    .rit {
                        float: right;
                        display: inline-block;
                        @extend .ui-pri;
                    }
                }
                .title {
                    font-size: rem(28);
                    padding: rem(20);
                    color: #e60100;
                }
                .prefer-box {
                    font-size: rem(28);
                    border-bottom: 1px solid #CCCDCC;
                    .prefer-tit {
                        overflow: hidden;
                        padding: rem(20);
                        .lft {
                            float: left;
                        }
                        .rit {
                            float: right;
                            .iconfont {
                                font-size: rem(40);
                                color: #c0c0c0;
                            }
                        }
                    }
                    .display-n {
                        display: none;
                    }
                    .pr-ctn-box {
                        padding: 0px rem(20) rem(20) rem(20);
                        .pr-ctn {
                            .txt-i {
                                color: #f16320;
                                margin-right: rem(6);
                            }
                            display: block;
                            text-align: left;
                        }
                    }
                }
            }
            .bottom {
                position: fixed;
                width: 100%;
                bottom: 0px;
                left: 0px;
                z-index: 2;
                margin-bottom: 0px;
            }
            .no-gds {
                background: #f1f1f1;
                .box {
                    @include opacity(0.7);
                }
            }
            .pri-box {
                margin-top: rem(26);
            }
            .opr {
                text-align: center;
                margin-top: rem(26);
                margin-bottom: rem(26);
                .ui-button {
                    width:auto;
                    min-width: rem(140);
                    font-size: rem(26);
                    padding: 0px;
                }
            }
        }
    }
}