/* common */
@import "../../../common";
@import "../../../common/slider/slider";
@import "../../../common/form/form";
@import "../../../common/button/button";
@import "../../../common/scroll-load/scroll-load";

/* modules */
@import "../common/base";
@import "../common/none";
@import "./source/logistics";

html{
    background: #F2F2F2;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.display-none{
    //display: none;
}
