@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	min-width: 1270px;
}
.bn{
	height: 421px;
}
.bn,.layout{
	background-position:center top; 
	
}

.layout{
	margin: 0 auto;
	width: 990px;
	background-repeat: no-repeat;
}
 
.wrapper{
	position: relative;    
	margin-top:0; 
	padding-top:0; 
	margin-bottom:0; 
	padding-bottom: 0;
}	
.wrapper h2{
	border:none; 
	box-shadow: none;
	height: 55px;
	line-height: 55px;
	color: #fff;
	font-family: 'Microsoft Yahei';
}	 

.wrap-cnt{ 
	position: relative; 
	z-index: 2; 
	padding-bottom: 0; 
}
.spec-mod{
	background-position:center top; 
}
.com-hd{
	position: relative; 
	left:0; 
	margin:0 auto;  
	width: 990px; 
	height: 125px; 
	overflow: hidden;
}
.com-hd a.more{
	position: absolute;
	top: 12px;
	right: 34px;
	width: 90px;
	height: 90px;
}
.com-bd{
	position: relative; 
	width:990px; 
	left: -10px;
	margin: 0 auto; 
	overflow: hidden;  
}	
.com-bd ul{
	margin:0 auto;
	width: 1000px; 
	padding:10px 0px 0px 8px; 
	*padding-bottom: 10px;
}
 
.com-bd li{
	box-shadow: none;  
	margin:0px 6px 10px 0; 
	*margin-right: 3px;
} 	
.help{
	margin-top:0;
}
 
.right-nav{
	position:fixed; 
	-position:absolute; 
	width: 154px;
	height: 280px;
	padding-top: 68px;
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:450px; 
	margin-bottom: 40px; 
	bottom:25px; 
	background:url(img/nav.png) no-repeat;
}	
.right-nav a{
	margin-bottom: 15px;
	height: 42px;
	font: 700 16px/50px 'Microsoft Yahei';
	color:#fff;
	text-indent: -999999px;
}	
 