@import "../inc";

.ui-slider {
    position: relative;
    display: none;

    a {
        &:link, &:visited { color: #333; }
        &:hover, &:active { color: #9e2020; }
    }

    .ui-slider-navigation { margin-top: 5px; }
    .ui-slider-pagination {
        list-style: none;
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 50%;
        margin-left: -50%;
        z-index: 10;
        text-align: center;
        li {
            display: inline;
            display: inline;
            margin: 0px 4px;
            text-align: center;
            line-height: 0;
            font-size: 0;
            a {
                overflow: hidden;
                display: inline-block;
                width: 15px;
                height: 15px;
                @include border-radius(50%);
                background-color: #fff;
                opacity: 0.4;
                text-indent: -999px;
                &.active {
                    background-color: #F26321;
                    opacity: 1;
                }
            }
        }
    }
}
.ui-slider-one{
    display: block;
    a{
        display: block;
        width: 100%;
        height:100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
