@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{ 
	background-color: #470f62;
}
.layout{
	margin: 0 auto;
	width: 990px;
}
.gd-box a,.gd-box img{
	display: block;
	width: 100%;
	height:100%;
}
.cnt-box{
	padding-bottom: 100px;
}
.com-mod,.com-hd,.com-bd,.com-ft{
	margin: 0 auto;
	width: 1000px;
}
.com-hd{
	padding: 0 0 0 130px;
	width: 870px;
}
.com-hd .hd-box{
	top: 20px;
	right:60px; 
	width: 290px;
	height: 145px;
}
.com-hd a{
	display: block;
	float: left;
	margin-right: 15px;
	width: 110px;
	height: 45px;
	text-indent: -99999px;
	overflow: hidden;
}
.com-mod .com-bd{ 
	padding-top: 20px;
	padding-bottom: 10px;
	width: 998px;
	border: 1px solid #ff00cc;
	border-top: none;
}
.com-bd ul{
	padding-left: 13px;
}
.com-bd li{
	margin: 0 6px 10px 0;
}
.bg1{
	background-color: #cf006f;
}
.bg1 div.com-bd{
	border-color: #ff00cc;
}
.bg2{
	background-color: #8d46b0;
}
.bg2 div.com-bd{
	border-color: #cd00ec;
}
.bg3{
	background-color: #1fbdc2;
}
.bg3 div.com-bd{
	border-color: #00f7ff;
}
.bg4{
	background-color: #fc564e;
}
.bg4 div.com-bd{
	border-color: #ff9c4c;
}
.bg5{
	background-color: #2db1e8;
}
.bg5 div.com-bd{
	border-color: #00f7ff;
}

/*nav*/ 
 .left-nav{
 	position: fixed;
 	right: 50%;
 	bottom:50%;
 	margin-right: 500px;
 	width: 118px;
 	padding:5px 0 0 5px;
 	*padding-bottom: 10px;
 	font-family: 'Microsoft Yahei';
 	font-size: 16px;
 	text-align: center; 
 	background-color: #842ead;
 	z-index: 99;
 	overflow: hidden;
 }
 .left-nav h3{
 	line-height: 30px;
 	color: #fff;
 }
 .left-nav li,.left-nav a{
 	display: block;
 	width: 54px;
 	height: 30px;
 	line-height: 30px;
 	color: #333;
 }
 .left-nav li{
 	float: left;
 	margin-bottom: 5px;
 	margin-right: 5px;
 	background-color: #b372e6;
 }
.right-nav{
	position:fixed; 
	-position:absolute;
	padding-top: 94px;
	width: 122px;
	height: auto; 
	overflow:hidden; 
	z-index:100; 
	left:55%; 
	margin-left:450px;
	margin-bottom: 40px;
	bottom:25px; 
	background:url(img/nav.png) no-repeat;
}	
.right-nav a{ 
	height: 44px; 
	font: 400 18px/44px 'Microsoft Yahei';
	color:#333;
	text-indent: -99999px;
}
.right-nav a.lh{
	height: 53px;
	padding-top: 10px;
	line-height: 21px;

}
.right-nav .go-top{ 
	border:none; 
	margin-top: -1px;
	height: 95px;
	line-height: 95px;
	text-indent: -9999px;  
	background: none;
}


/*底部广告链接*/
.gren-mod{
	padding-left: 5px;
	margin: 14px auto 30px;
	width: 995px;
}
.gren-ad{
	width: 285px;
	height: 140px;
	float: left; 
	margin-right: 2px;
}
.gren-ad a, .gren-ad img{
	width: 285px;
	height: 140px;
	display: block;
}
.gren-list{
	width: 704px;
	height: 140px;
	overflow: hidden;
}
.gren-show{
	width: 720px;
}
.gren-list a{
	display: block;
	width: 140px;
	height: 46px;
	float: left;
	margin:0 1px 1px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font:700 16px/46px 'microsoft yahei';
}
.gren-list a:hover{
	text-decoration: underline;
}
.gren-list a.col1{
	background-color: #623685;
}
.gren-list a.col2{
	background-color: #724298;
}

.hover-bg{
	width: 100%;
	height: 100%; 
	filter:Alpha(opacity=40);
	background-color:#730014;
	background: rgba(115,0,20,.4); 

}

.mt20{
	margin-bottom: 20px;
}