/* form */
/* line 4, ../../../sass/common/form/form.scss */
.ui-ipt-item {
  display: -webkit-box;
  height: 2.15rem;
  line-height: 2.15rem;
  color: #666;
}

/* line 10, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel-box, .ui-ipt-box {
  -webkit-box-flex: 11;
  position: relative;
}

/* line 14, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel-box:after {
  content: "";
  top: .6rem;
  right: .4rem;
  position: absolute;
  display: inline-block;
  font-size: 0;
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(225deg);
}

/* line 28, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-lbl {
  display: block;
  width: 2.25rem;
  height: 2.15rem;
  padding: 0 0 0 10px;
  line-height: 2.3rem;
  font-size: .7rem;
  white-space: nowrap;
  position: relative;
  color: #666;
}

/* line 39, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-ipt {
  display: block;
  width: 100%;
  height: 2.15rem;
  line-height: 2.3rem;
  font-size: .7rem;
  text-align: left;
  color: #333;
  -webkit-box-sizing: border-box;
}

/* line 50, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 1.35rem;
  line-height: 1.35rem;
  font-size: .7rem;
  border: none;
  color: #333;
}

/* line 61, ../../../sass/common/form/form.scss */
.ui-lter-spac-12 {
  letter-spacing: 12px;
}

/* line 70, ../../../sass/common/form/form.scss */
.ui-bd {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 0px 1px 0px rgba(0, 0, 0, 0.5);
}

/* line 73, ../../../sass/common/form/form.scss */
.ui-bd-left {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, -1px 0 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 76, ../../../sass/common/form/form.scss */
.ui-bd-right {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 1px 0 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 79, ../../../sass/common/form/form.scss */
.ui-bd-top {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 -1px 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 82, ../../../sass/common/form/form.scss */
.ui-bd-bottom {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 1px 1px -1px rgba(0, 0, 0, 0.5);
}
