@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background: #ffd2e2;
	
}
.bn { 
	width: 100%;
	height: 510px;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center top;
	min-width: 1024px; 
}
.coupon-mod{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.gd-mod{
	width: 992px;
	margin: 0 auto;
}
.gd-bn{
	width: 990px;
	height: 311px;
	margin: 0 auto 25px;
	position: relative;
}
.wrapper{
	overflow:visible;
	padding-bottom:0;
	margin-top:0;
	padding-top:0;
}
.wrapper h2{
	margin-top: 20px;
	border:none;
	box-shadow: none;
	text-align: center;
	height: 40px;
	font-size: 32px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: center top;
	font: 100 24px/36px 'Microsoft yahei';
}
.wrapper h2.top-hd{
	margin-top: 0;
}
.wrapper h2.hd1{
	color: #de3e4d;
}
.hd2{
	color: #fff;
}
.bd-img{
	height: 12px;
	background-repeat: no-repeat;
	background-position: center top;
}
.com-hd-t{
	padding-top:8px;
	text-indent: 70px;
	width:1034px;
	margin: 0 auto;
}
.fl1{
	background-color: #f25b69;
}
.fl2{
	background-color: #ffc6cb;
}
.spec-mod, .com-mod{
	border-top: none;
	overflow: hidden;
	padding-bottom: 0;
	margin-bottom: 0;
	*padding-bottom:0;
}
.com-bd{
	border-top: none;
	padding-bottom: 30px;
	width: 990px;
	margin: 0 auto;
}
.wrap-cnt{
	margin: 0 auto;
}
#com5 .com-bd{
	padding-bottom: 20px;
}
.ad-link{
	width:999px;
	margin:15px auto 0 auto;
}
.goods-mod{
	position: relative;
	width: 990px;
	margin: 25px auto;
	overflow: hidden;
}
.goods-mod ul{
	width: 1000px;
}
.goods-mod .gd{
	float: left;
	width: 340px;
	height: 150px;
	position: relative;
	margin: 0 5px 5px 0;
}
.goods-mod .gd img{
	width: 340px;
	height: 150px;
}
.goods-mod .gd-1{
	width: 300px;
	height: 305px;
}
.goods-mod .gd-1 img{
	width: 300px;
	height: 305px;
}
.goods-mod .bot-txt{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 340px;
	height: 40px;
	background-color: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 2;
}
.goods-mod p{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	display: block;
	width: 340px;
	height: 40px;
	color: #fff;
	text-align: center;
	font: 100 24px/36px 'Microsoft yahei';
}
.goods-mod .dialog{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	filter:alpha(opacity=50);
}
/*右侧浮层*/
.right-nav{
	position:fixed;
	-position:absolute;
	width:161px;
	height:264px;
	padding-top: 8px;
	z-index:100;
	left:55%;
	margin-bottom: 100px;
	margin-left:450px;
	bottom:35px;
	overflow: hidden;
	background:url(//s1.bbgstatic.com/topic/2014/4/mothersday0511/img/nav.png) no-repeat;
}
.right-nav a{
	height: 41px;
	font: 100 18px/38px 'Microsoft Yahei';
	margin-bottom: 10px;
	color:#e43a4a;
	text-decoration: none;
}
.right-nav a:hover{
	text-decoration: underline;
}

.right-nav .go-top{
	background:none;
	border:none;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.help{
	margin-top: 0;
}
#com2 .com-hd-t,#com3 .com-hd-t{
	text-align: right;
	padding-right: 60px;
	width:974px;
}
