@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
body{
	background: #e0dfdb;
	
}
.bn { 
	width: 100%;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center top;
	min-width: 1024px; 
}
.bn-t{
	height: 429px;
}
.bn-b{
	height: 239px;
}
.wrapper{
	overflow:visible;
	padding-bottom:40px;
	*+padding-bottom:20px;
	margin-top:0;
	padding-top:0;
	margin-top: -32px;
	+margin-top: -32px;
}
.wrapper h2{
	border:none;
	box-shadow: none;
	text-align: left;
	height: 52px;
	font-size: 32px;
	vertical-align: bottom; 
	+margin-top:0px; 
}
.com-hd-t{
	padding-top:8px;
	text-indent: 70px;
	width:1034px;
	margin: 0 auto;
}
 
.spec-mod,.com-mod{
	background-repeat: no-repeat;
	background-position: center top;
	/* min-width: 1024px; */ 
	margin-bottom: 0;
	+padding-bottom: 20px;
}
.wrap-cnt{
	margin-top:0;
	position: relative;
	z-index: 2;
}
.spec-mod ul,.com-mod ul{
	margin-left:12px;
}
.com-mod ul {

}
#com5 .com-bd{
	padding-bottom: 20px;
}
.com-mod
{
    margin-top: 15px;
    *+margin-top: 0px;
}
.com-bd{
	width:1007px;
	margin: 0 auto;
	overflow: hidden;
    background: #deb68b;
    border-left: 1px solid #fc8505;
    border-right: 1px solid #fc8505;
}
.ad-link{
	width:999px;
	margin:15px auto 0 auto;
}
/*右侧浮层*/
.right-nav{
	/* display: none; */
	position:fixed;
	-position:absolute;
	width:94px;
	height:210px;
	padding-top: 60px;
	margin-bottom: 40px;
	z-index:100;
	left:53%; 
	margin-left:450px;
	bottom:40px;
	overflow: hidden;
	background:url(//s1.bbgstatic.com/topic/2014/6/jd/img/nav.png) no-repeat;
}
.right-nav a{
	height: 37px;
	font: 100 18px/46px 'Microsoft Yahei';
	color:#fff;
	text-decoration: none;
	display: block;
}
.right-nav a:hover{
	text-decoration: underline;
}

.right-nav .go-top{
	background:none;
	border:none;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.help{
	margin-top: 0;
}
#com2 .com-hd-t,#com3 .com-hd-t{
	text-align: right;
	padding-right: 60px;
	width:974px;
}
/* 家电商品样式 */
.spec-mod .com-buy-btn{
	background:#f00 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 5px -84px;
}
.spec-mod .com-buy-btn:hover{
	background:#b20000 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 5px -120px;
}
.spec-mod .com-buy-btn{
	margin:0 auto 6px auto;
	height: 36px;
}
/**/
.com-mod .com-buy-btn{
	background:#f00 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 0px -2px;
}
.com-mod .com-buy-btn:hover{
	background:#b20000 url(//s1.bbgstatic.com/topic/2014/3/taqing/images/jd-btn.jpg) no-repeat 0px -44px;
}
.com-mod .com-buy-btn{
	margin:0 auto 6px auto;
	height: 36px;
}
/**/
.com-mod .com-txt{
	margin: 0 auto 3px auto;
}
/**/
.spec-mod .com-txt,.com-txt a, .com-mod .com-buy-btn{
	width: 177px;
}
.com-mod .com-txt,.com-txt a, .com-mod .com-buy-btn{
	width: 226px;
}
/**/
.com-mod .p-normal,.spec-mod .p-normal{
	float: left;
}
.com-mod .p-del,.spec-mod .p-del{
	float: right;
	line-height: 24px;
}
.spec-mod li,.com-mod li{
	height: auto;
	margin : 20px 10px 0 0;
}
.spec-mod .com-txt{
	width: 307px;
	margin:5px auto 0 auto;
}
.spec-mod .com-txt a{
	width: 307px;
	font-size: 15px;
}
.spec-mod .com-buy-btn, .spec-mod .com-disabled-btn{
	width: 307px;
	height: 37px;
	line-height: 37px;
	margin:6px auto;
}
.spec-mod .com-box,.com-box{
	height: auto;
	padding: 0 6px;
}
.spec-mod .com-buy-btn{
	height: 42px;
	background: #f00 url(//s1.bbgstatic.com/topic/2014/6/jd/img/jd-btn.jpg) no-repeat 0px -156px;
}
.spec-mod .com-buy-btn:hover{
	background:#b20000 url(//s1.bbgstatic.com/topic/2014/6/jd/img/jd-btn.jpg) no-repeat 0 -198px;
}
/* custom style */
/* 五件套 */
.spec-mod li
{
	width: 321px;
}
.spec-mod .com-img
{
	width: 298px;
	height: 298px;
}
.spec-mod .com-img img
{
	width: 298px;
    height: 298px;
	/* margin-top: 20px; */
}
.spec-mod .com-txt .p-normal
{
	font-size: 17px;
}
.spec-mod .com-txt .p-del
{
	font-size: 13px;
}
/* 更多单品 */
.com-mod li
{
	width: 238px;
}
.com-mod .com-img
{
	width: 214px;
    height: 214px;
	text-align: center;
}
.com-mod .com-img img
{
	width: 210px;
    height: 210px;
}
.com-mod .com-txt .p-normal
{
	font-size: 20px;
}
.com-mod .com-txt .p-del
{
	font-size: 13px;
}
/*****/
.com-mod-bottom
{
    height: 14px;
    width: 1010px;
    margin: 0 auto;
}
.dq .com-box .buy-btn-mod a{
	text-indent: -99999px;
}