@import url('../../../pub/css/common.css');
@import url('../../../pub/css/btn.css'); 
@import url('../../../pub/font/iconfont.css');
@import url('../../../pub/css/dialog/ui-dialog.css');
@import url('../../../pub/css/hd/site-nav.css');
@import url('../../../pub/css/linkage-tab.css');
@import url('../../../pub/css/hd/search.css');
@import url('../../../pub/css/hd/nav.css');
@import url('../../../pub/css/jquery.minSlide.css');
@import url('../../../pub/css/ft/ft.css');
@import url('../../../pub/css/min-bar/min-bar.css');
@import url('../../../app/style.css'); 
.bn{
	height: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	min-width: 1000px;
}
.bn-1{
	height: 616px;
}
.bn-2{
	height: 707px;
}
.link-mod{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.link-mod a{
	position: absolute;
	display: block;
}
.link-1{
	width: 221px;
	height: 107px;
	top: 348px;
	left: 616px;
}
.link-2{
	width: 100%;
	height: 377px;
	top: 100px;
	left: 0;
}
.link-3{
	width: 350px;
	height: 311px;
	top: 293px;
	left: 50px;
}
.link-4{
	width: 382px;
	height: 211px;
	top: 474px;
	left: 643px;
}
.help{
	margin-top: 0;
}

.msg{
	position: fixed;
	_position: absolute;                                       
	_top: expression(documentElement.scrollTop + 150 + "px"); 
	right: -834px;
	top: 150px;
	width: 832px;
	height: 620px;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #43bdce;
	border-radius: 10px;
	font-family: '黑体';
	zoom:1;
}
.msg-txt{
	height: 500px;
	padding: 0 30px 0 60px;
	margin: 60px 0 30px;
	overflow: auto;
}

.msg-nav{
	cursor: pointer;
	position: absolute;
	top: 193px;
	left: -32px;
	width: 32px;
	height: 120px;
	z-index: 10;
	background: url(img/msg-nav.png) no-repeat;
}
.msg h2{
	color: #333;
	font-size: 28px;
	width: 425px;
	font-weight: 100;
	margin:0 auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #46ba00;
}

.msg h3{
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 5px 10px;
	margin: 30px 0 10px;
	border-radius: 20px;
	background-color: #46ba00;
}

.msg p{
	font-size: 16px;
	line-height: 25px;
	padding-left: 10px;
}